{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container-prim">
    <h1>Register</h1>
    <div>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr':{'novalidate':'novalidate'} }) }}
        <div class="row row-cols-xs-1 row-cols-md-2">
            <div>
                {{ form_row(registrationForm.first_name) }}
                 {# {{ form_errors(registrationForm.first_name) }} #}
            </div>
            <div>
                {{ form_row(registrationForm.last_name) }}
            </div>
        </div>
        <div class="w-25">
            {{ form_row(registrationForm.birth_date) }}        
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
            }) }}
        </div>
        <div class="row row-cols-xs-1 row-cols-md-2">
            <div>
                {{ form_row(registrationForm.street) }}
            </div>
            <div>
                {{ form_row(registrationForm.house) }}
            </div>
        </div>
        <div class="row row-cols-xs-1 row-cols-md-3">
            <div>
                {{ form_row(registrationForm.zip_code) }}
            </div>
            <div>
                {{ form_row(registrationForm.city) }}
            </div>
            <div>
                {{ form_row(registrationForm.country) }}
            </div>
        </div>

        <div class="w-25">
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.picture) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        
        <button class="btn btn-success "type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}