{{ form_start(form) }}
{{ form_widget(form) }}
<hr / class="my-5">
<div class="my-5">
  <a href="{{ path('app_fk_category_index') }}" class="btn btn-outline-secondary rounded-start-pill"><i class="bi bi-box-arrow-left"></i> Back to list</a>
  <button class="btn btn-primary px-4 rounded-end-pill"><i class="bi bi-floppy"></i> {{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
