{% extends 'base.html.twig' %}

{% block title %}FkCategory index{% endblock %}

{% block body %}
    <h1>FkCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fk_category in fk_categories %}
            <tr>
                <td>{{ fk_category.id }}</td>
                <td>{{ fk_category.name }}</td>
                <td>{{ fk_category.picture }}</td>
                <td>
                    <a href="{{ path('app_fk_category_show', {'id': fk_category.id}) }}">show</a>
                    <a href="{{ path('app_fk_category_edit', {'id': fk_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fk_category_new') }}">Create new</a>
{% endblock %}
