{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}
    {# ### Filter ################################## #} 
    <div class="filter-container">
            <a id="list" class="btn btn-outline-primary btn-sm btn-blr my-1 rounded-pill" href="{{ path('app_user') }}">Show all</a>
            <div class="d-inline btn-group w-100" role="group" aria-label="Basic example">
                {% for category in allCategory %}
                <a class="my-1 btn btn-outline-primary btn-sm btn-blr rounded-pill" href="{{ path('app_user', { fk_categoryID: category.name }) }}">{{ category.name }}</a>
                {% endfor %}
            </div>
    </div>
    {# ############################################# #}
    
    {# ### Swiper starts ########################### #}
    <swiper-container 
    class="mySwiper"
    {# breakpoints='{"768": {"slidesPerView": 3}}' #}
    navigation="true"
    space-between="5"
    loop="true"
    autoplay-delay="5000"
    autoplay-pause-on-mouse-enter="true"
    grab-cursor="true"
    >
        
        <swiper-slide class="mySlide"><img src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." /></swiper-slide>
        <swiper-slide class="mySlide"><img src="https://images.unsplash.com/photo-1477064996809-dae46985eee7?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." /></swiper-slide>
        <swiper-slide class="mySlide"><img src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?q=80&w=2528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="..." /></swiper-slide>
        
    </swiper-container>
    {# ### Swiper ends ############################# #}

    <div class="container-home grid-container">
        {# ### Cards start ############################# #}
        {% for product in products %}
        <div class="m-03 {{ product.availability ? "" : "d-none" }}">
            <div class="myCard">
                <span class="category btn-blr rounded-pill">{{ product.fkCategoryId.name }}</span>
                <img src="{{ asset("pictures/"~ product.picture) }}" alt="{{ product.name }}">
                <div class="details">
                    <label>{{ product.name }}</label>
                    <div class="details-content">
                        <p>Price: &euro;{{ product.price }}</p>
                        <p><i class="fa-solid fa-star fa-lg me-1 text-warning shadow"></i>4.4 <span class="fw-lighter">(100+)</span></p>
                    </div>
                    <div class="buttons-box">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path("app_cart", {"id": product.id}) }}" class="btn btn-primary btn-sm rounded-start-pill shadow {{ is_granted("IS_AUTHENTICATED_FULLY") ? "" : "disabled" }}">Add to cart</a>
                    {% endif %}
                        <a href="{{ path("app_product_show", {"id": product.id}) }}" class="btn btn-outline-primary btn-sm rounded-end-pill shadow">Details</a>
                    </div>
                </div>
            </div>
        </div>
            {% else %}
            <span class="z-3 btn-blr p-3 my-3 mb-3 w-25 text-center rounded-pill">¯\_(ツ)_/¯ <br>No products found </span>
            {% endfor %}
        {# ### Cards end ############################## #}
    </div>


{% endblock %}
