{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-prim grid-container">
        {% for product in products %}
            <div class='m-03 {{ product.availability ? '' : 'd-none' }}'>
                <div class='card'>
                    <img src='{{ asset('pictures/'~ product.picture) }}' alt='{{ product.name }}'>
                    <div class='details'>
                        <label>{{ product.name }}</label>
                        <p>Price: &euro;{{ product.price }}</p>
                        <p class="card-text text-warning">&starf;&starf;&starf;&starf;&star;</p>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <a href='#' class='button-main me-2'>Add to cart</a>
                        {% endif %}
                        <a href='{{ path('app_user_show', {'id': product.id}) }}' class='button-second' > Details</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No data found ¯\_(ツ)_/¯</p>
        {% endfor %}
    </div>


{% endblock %}
