{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-7 col-xs-4">
    {{ form_row(form.picture) }}
    <div class="col-6">
      {{ form_row(form.fk_categoryID) }}
    </div>

    <div class="col-3">
      {{ form_row(form.price) }}
      {{ form_row(form.quantity) }}

      <div class="form-check form-switch ps-3">
        {{ form_row(form.availability) }}
      </div>
      <div class="form-check form-switch ps-3">
        {{ form_row(form.shown_hidden) }}
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-2 text-end" style="padding-top: 36px">
    {% if (product.id) %}
    <img class="shadow" src="{{ asset('pictures/'~ product.picture) }}" alt="{{ product.name }}" style="width: 100% !important" />
    {% endif %}
  </div>
</div>
<hr class="my-5" />
{# {{ form_widget(form) }} #}

<div class="my-5">
  <a href="{{ path('app_product_index') }}" class="btn btn-outline-secondary rounded-start-pill"><i class="bi bi-box-arrow-left"></i> Back to list</a>
  <button class="btn btn-primary px-4 rounded-end-pill"><i class="bi bi-floppy"></i> {{ button_label|default('Save') }}</button>

  {# {{ include('product/_delete_form.html.twig') }} #}
</div>
{{ form_end(form) }}
