{% extends 'base.html.twig' %}

{% block title %}Dashboard Product | {{ parent() }}{% endblock %}

{% block body %}

    {# ### Filter ################################## #} 
    <div class="filter-container">
      <a id="list" class="btn btn-outline-dark btn-sm btn-blr my-3 rounded-pill" href="{{ path('app_product_index') }}">Show all</a>
      <div class="d-inline btn-group w-100" role="group" aria-label="Basic example">
          {% for category in allCategory %}
          <a class="my-3 btn btn-outline-dark btn-sm btn-blr mb-3 rounded-pill" href="{{ path('app_product_index', { fk_categoryID: category.name }) }}">{{ category.name }}</a>
          {% endfor %}
      </div>
    </div>
    {# ############################################# #}

    <div class="container-prim">
        <h1>Dashboard Product</h1>

        <div class="text-end">
          <a href="{{ path('app_product_new') }}" class="btn btn-primary btns my-3"><i class="bi bi-file-earmark-plus"></i> Create new</a>
          <a href="{{ path('app_fk_category_index') }}" class="btn btn-primary btns my-3"><i class="fa-solid fa-list-ul"></i></i> All categories</a>
        </div>
        
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                  <th scope="col">#</th>
                <th scope="col">Pic</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col" class="text-center">Quantity</th>
                {# <th scope="col" class="text-center">Category</th> #}
                <th scope="col" class="text-center">Availability</th>
                <th scope="col" class="text-center">Shown</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="align-middle">
                    <th scope='row'>{{ product.id }}</th>
                    <td><img class='rounded img-thumbnail asp-1 object-fit-cover shadow-sm' src='{{ asset('pictures/'~ product.picture) }}' alt='{{ product.name }}' width='60px'></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td class="text-center">{{ product.quantity }}</td>
                    {# <td class="text-center">{{ category.name }}</td> #}
                    <td class="text-center">{{ product.availability ? "&#x2713;" : "&#10008;"  }}</td>
                    <td class="text-center">{{ product.shownHidden ? "&#x2713;" : "&#10008;" }}</td>
                    <td>
                    <div class='d-flex flex-nowrap'>
                    <div class='btn-group btn-group-sm me-4 my-1' role='group' aria-label='Basic mixed styles example'>
                    <a href='{{ path('app_product_show', {'id': product.id}) }}' class='btn btn-dark'>Details</a>
                    <a href='{{ path('app_product_edit', {'id': product.id}) }}' class='btn btn-outline-dark'>Edit</a>
                    </div>
                    <a href='{{ path('app_product_delete', {'id': product.id}) }}' class='btn btn-sm btn-outline-danger my-1'>Delete</a>
                    </div>
                    </td>
                  </tr>
                  {% else %}
                  <p>No data found ¯\_(ツ)_/¯</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock %}
