{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row row-cols-sm-2 row-cols-xs-1">
        <div>
            <img src="{{ product.picture }}" class="w-100 h-50" alt="product">
            {# <img src="{{ asset('pictures/'~product.picture) }}" class="w-100" alt="product"> #}

        </div>
        <div class="d-flex align-items-center">
            <h2><b>Product:</b>
                <span class="detailsSpan">{{ product.name }}</span>
            </h2>
            <table class="table table-striped table-hover">
                <tbody>
                     <tr>
                        <th>Price</th>
                        <td> {{ product.price }}</td>
                    </tr>    
                    <tr>
                        <th>Quantity</th>
                        <td>{{ product.quantity }}</td>               
                    <tr>
                        <th>Available</th>
                        <td>{{ product.availability }}</td>
                    </tr>
                    <tr>
                        <th>Hidden</th>
                        <td>{{ product.shownhidden }}</td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row row-cols-xs-1 row-cols-sm-2">
        <div>
            <a class="btn btn-primary btns btns1" href="{{ path('app_product_index') }}">back to list</a>
        </div>
        <div>
            <a class="btn btn-warning btns" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}