{% extends 'base.html.twig' %} {% block title %}New Product | {{ parent() }}{% endblock %} {% block body %}

<div class="container-prim">
  <div>
    <h1 class="text-center mb-4">Show Product</h1>
    <section class="d-flex justify-content-around text-start ">
      <div style="width:40%;">
        {% if (product.id) %}
        <img class="shadow" style='width:512px;' src="{{ asset('pictures/'~ product.picture) }}"
          alt="{{ product.name }}" />
        {% else %}
        <div class="rounded-circle shadow" style="width:256px;height:256px; border: 8px solid gold;"></div>
        {% endif %}
      </div>
      <div style="width:40%;">
        <h4>Name</h4>
        <p class="fs-6 mt-2">{{ product.name }}</p>
        <h4>Price</h4>
        <span class="fs-6 roundedy">
          {{ product.price }}
        </span>
        {% if product.quantity < 10 %} {#<h4>Quantity</h4>#}
          <div class="text-danger ffs-6 py-1 my-3 roundedy"> Only {{ product.quantity }} left </div>
          {% endif %}
          <h4>Description</h4>
          <p class="fs-6 mt-2">
            {{ product.description }}
          </p>
      </div>
    </section>
  </div>
  {#
  <hr /> #}
  {# {{ form_widget(form }} #}

  <div class="d-flex gap-3 justify-content-center mt-5">
    {# <button class="btn btn-success btn1"><i class="bi bi-floppy"></i> {{ button_label|default('Save') }}</button>
    #}
    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_product_index') }}" class="btn btn-secondary btn1"><i class="bi bi-box-arrow-left"></i> Back
      to list</a>

    {% else %}

    <a href="{{ path('app_user') }}" class="btn btn-secondary btn1"><i class="bi bi-box-arrow-left"></i> Back to list</a>

    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <a href="{{ path('app_cart', {'id': product.id}) }}" class="btn btn-secondary btn1"><i class="bi bi-cart3"></i> Add To Cart</a>

    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_product_edit', { 'id': product.id }) }}" class="btn button-main btn1"><i
        class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit</a>
    {{ include('product/_delete_form.html.twig') }}

    {% endif %}
  </div>
</div>
{% endblock %}