<nav>
  <input id="nav-toggle" type="checkbox" />

  <div class="logo">
    {# {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_product_index') }}"><i class="fa-sharp fa-solid fa-umbrella fa-lg me-2"></i><strong class="display-non-768">Umbrella</strong></a>
    {% else %} {% endif %} #}
    <a href="{{ path('app_user') }}"><i class="fa-sharp fa-solid fa-umbrella fa-lg me-2"></i><strong class="display-non-768">Umbrella</strong></a>
  </div>

  {# Search #}
  <div class="search">
    <input type="text" class="search__input" placeholder="Type your text" />
    <button class="search__button">
      <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
        <g>
          <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
        </g>
      </svg>
    </button>
  </div>

  {# Dropdown #} {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <ul class="links">
    <div class="paste-button">
      <button class="drop-button">
        <small>Hello, {{ app.user.firstName }}</small
        ><span class="display-non-768"><br />Account <i class="fa-solid fa-caret-down"></i></span>
      </button>
      <div class="dropdown-content">
        {% if is_granted('ROLE_ADMIN') %}
        <a id="top" href="{{ path('app_user_show', { id: app.user.id }) }}">My account</a>
        <a id="middle" href="{{ path('app_product_index') }}">Dashboard Products</a>
        <a id="middle" href="{{ path('app_user_index') }}">Dashboard Users</a>
        <a id="middle" href="#">Statistic</a>
        {% else %}
        <a id="top" href="{{ path('app_user_show', { id: app.user.id }) }}">My account</a>
        <a id="middle" href="{{ path('app_contact') }}">Contact</a>
        {% endif %}
        <a id="bottom" href="{{ path('app_logout') }}">Logout</a>
      </div>
      <img id="avatar" src="{{ app.user.picture }}" alt="" />
    </div>
  </ul>
  {% endif %} {% if not is_granted('IS_AUTHENTICATED_FULLY') %}

  <ul class="links">
    <li><a href="{{ path('app_contact') }}">Contact</a></li>
    <li><a href="{{ path('app_login') }}">Login</a></li>
    <li><a href="{{ path('app_register') }}">Register</a></li>
  </ul>

  {% endif %}

  <div id="cart">
    <a href="{{ path('app_cart_show') }}" class=""
      ><i class="fa-solid fa-cart-shopping fe-lg"></i>
      <span class="cart-item rounded-pill">99+</span>
    </a>
  </div>

  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
