{% extends 'base.html.twig' %}

{% block title %}Dashboard users | {{ parent() }}{% endblock %}

{% block body %}
<div class="container-prim">
    <h1>Dashboard users</h1>

    <div class="text-end my-2">
        <a href="{{ path('app_user_new') }}" class="btn btn-primary"><i class="bi bi-file-earmark-plus"></i> Add new user</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>&nbsp;</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Birth</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Banned</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <img src="{{ asset('pictures/'~ user.picture) }}" alt="{{ user.firstName }}" class="rounded-circle border border-warning" style="width:32px;height:32px;"> 
                </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('d/m/Y') : '' }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles in "ROLE_ADMIN" ? 'admin' : 'user' }}</td>
                <td>{{ user.banned ? 'Yes' : 'No' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y') : '' }}</td>
                
                <td>
                    <div class="d-flex gap-2">
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="button-second">View</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Edit</a>
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">No data found ¯\_(ツ)_/¯</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}