{% extends 'base.html.twig' %} 

{% block title %}User{% endblock %} 

{% block body %}
<div class="container-prim my-5 pt-5">
  <h1 class="text-center my-5">Welcome, {{ user.lastName }}!</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-3 d-flex flex-column align-items-center">
      <img src="{{ asset('pictures/users/'~ user.picture) }}" class="user-image d-block rounded-circle img-thumbnail asp-1 object-fit-cover shadow" alt="{{ user.firstName }}{{ user.lastName }}" />
      <a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn btn-outline-primary rounded-pill d-block my-5 mt-md-auto">Edit account</a>
    </div>
    <div class="col-md-7 col-lg-8 border-start border-2 ps-4 ms-3 mb-5">
      {{ "ROLE_ADMIN" in user.roles ? "
      <p><strong>Status: </strong>admin</p>
      " : '' }}
      <p><strong>Id: </strong>{{ user.id }}</p>
      <p><strong>First name: </strong>{{ user.firstName }}</p>
      <p><strong>Last name: </strong>{{ user.lastName }}</p>
      <p><strong>Birth date: </strong>{{ user.birthDate ? user.birthDate|date('d.m.Y') : '' }}</p>
      <p><strong>Adress: </strong>{{ user.street }} {{ user.house }}, {{ user.zipCode }} {{ user.city }} - {{ user.country }}</p>
      <p><strong>Email: </strong>{{ user.email }}</p>
      <p><strong>Phone number: </strong>{{ user.phone }}</p>
      <p><strong>Created: </strong>{{ user.createdAt ? user.createdAt|date('d.m.Y') : '' }}</p>
      {{ user.banned ? '
      <p class="text-danger">Yes</p>
      ' : '' }}
    </div>
  </div>

  <h1 class="text-center mb-4">Orders</h1>
  <div class="table-responsive rounded">
    <table class="table table-light table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Order Date</th>
          <th>Product</th>
          <th>Price</th>
          <th class="text-center">Quantity</th>
          <th>Total</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
        <tr class="align-middle">
          <td class="text-center">{{ item.orderDate ? item.orderDate|date('d/m/Y') : '' }}</td>
          <td>{{ item.fkProduct.name }}</td>
          <td>{{ item.price }}</td>
          <td class="text-center">{{ item.quantity }}</td>
          <td>{{ item.quantity * item.price }}</td>
          {% if item.fkReview %}
          {# <pre>
            {{ dump(cart) }}
          </pre> #}
          <td>
            {% set maximum_stars = 5 %}
              {% if item.fkReview.rating <= maximum_stars %}
                {% for star in 0..(item.fkReview.rating) %}
                  {% if star != 0 %}
                    <i class="bi bi-star-fill text-warning"></i>
                  {% endif %}
                {% endfor %}
                {% if (item.fkReview.rating)-(item.fkReview.rating|round(0, 'floor')) != 0 %}
                  <i class="bi bi-star-half text-warning"></i>
                {% endif %}
                {% for star in 0..(maximum_stars - item.fkReview.rating|round(0, 'ceil')) %}
                  {% if star != 0 %}
                    <i class="bi bi-star text-warning"></i>
                  {% endif %}
                {% endfor %}
                {% else %}
                  <p>Rating exceeds limit.</p>
              {% endif %}
          </td>
          {% else %}
          <td>
            <a href="{{ path('app_reviews_new', {'id': item.id}) }}" class="btn btn-outline-primary rounded-pill my-3">Add review</a> 
          </td>
          {% endif %}
        </tr>
        {% else %}
        <tr>
          <td colspan="17">No orders yet 
            <a href='{{ path('app_user') }}' class='m-2 btn btn-outline-secondary btn-sm rounded-pill'>Go to the shop</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('app_user_index') }}" class="btn btn-outline-warning rounded-pill mt-5"><i class="bi bi-box-arrow-left"> </i>Back to list</a>
  {% endif %}
</div>
{% endblock %}
