{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container-prim">
    <div class="text-center">
        <h1>Account</h1>
    </div>

    <section class="d-flex justify-content-evenly my-5">
        <div>
            <img src="{{ asset('pictures/'~ user.picture) }}" alt="{{ user.firstName }}" class="rounded-circle" style="width:256px;height:256px; border: 8px solid gold;">            
        </div>
        <div>
            <p>{{ user.firstName }} {{ user.lastName }} {{ "ROLE_ADMIN" in user.roles ? "(admin)" : '' }}</p>
            <p><i class="bi bi-cake2"></i> {{ user.birthDate ? user.birthDate|date('d.m.Y') : '' }}</p>
            <p><i class="bi bi-signpost"></i> {{ user.street }} {{ user.house }}, {{ user.zipCode }} {{ user.city }} - {{ user.country }}</p>
            <p><i class="bi bi-envelope"></i> {{ user.email }}</p>
            <p><i class="bi bi-telephone"></i> {{ user.phone }}</p>
            <p>Banned: {{ user.banned ? 'Yes' : 'No' }}</p>
            <p>Created: {{ user.createdAt ? user.createdAt|date('d.m.Y') : '' }}</p>
        </div>    
    </section>

    <div class="text-center mb-5">
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Edit my account</a>
    </div>

    <h2>My Orders</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Quantity</th>
                <th>Product</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in Cart %}
            <tr>
                <td>{{ cart.orderDate ? cart.orderDate|date('d/m/Y') : '' }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.productName }}</td>
                <td>{{ cart.price }}</td>
                <td> {{ cart.quantity * cart.price }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">No data found ¯\_(ツ)_/¯</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
